{% if user.authenticated %}
    {% if recipe.basket %}
        <button class="button button_style_light-blue" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
    {% else %}
        <button class="button button_style_blue button_style_light-blue" name="purchases" data-out=""><span class="icon-plus button__icon"></span>Добавить в покупки</button>
    {% endif %}
{% else %}
    {% if recipe|recipe_basket_check:request %}
        <button class="button button_style_light-blue" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
    {% else %}
        <button class="button button_style_blue button_style_light-blue" name="purchases" data-out=""><span class="icon-plus button__icon"></span>Добавить в покупки</button>
    {% endif %}