<ul class="tags">
    {% for tag, value_tag  in actual_tags.items %}
        <li class="tags__item">
            <a id="{{ tag }}" class="tags__checkbox tags__checkbox_style_{{ value_tag.3 }} {% if value_tag.0 %} tags__checkbox_active {% endif %}"
               {% if request.META.count_tags > 1 or not value_tag.0 %}
                    href="{{ value_tag.2 }}">
               {% else %}
                    href="#">
               {% endif %}
            </a>
            <span class="tags__label">{{ value_tag.1 }}</span>
        </li>
    {% endfor %}
</ul>