{% extends "base.html" %}
{% block main_title %} Сброс пароля {% endblock main_title %}
{% block content %}
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_email" class="form__label">Адрес электронной почты</label>
                <div class="form__field-group">
                    <input type="email" name="email" id="id_email" value="{{ form.instance.email }}" class="form__input">
                    <span class="form__error">{{ form.email.errors }}</span>
                </div>
            </div>
            {% include "elements/form_footer.html" with footer_text="Cбросить пароль" %}
        </form>
    </div>
{% endblock content %}
