{% extends 'base.html' %}
{% block content %}
{% load user_filter_tag %}
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        {{ field|addclass:"form__input" }}
                        <span class="form__error">{{ field.errors }}</span>
                    </div>
                </div>
            {% endfor %}
        {% include 'elements/form_footer.html' with footer_text='Изменить пароль' forget_pass=True %}
        </form>
    </div>
{% endblock content %}
