{% extends "base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static "recipes/pages/index.css" %}">{% endblock css %}
    {% block main_title %}Сброс пароля{% endblock main_title %}
{% block content %}
        <div class="custom-center-block">
            <p class="custom-text-block">Отправлена ссылка для сброса пароля.
                <br>
                Мы отправили вам по электронной почте инструкции для сброса пароля, если существует учетная запись с указанным вами адресом электронной почты.
                <br>
                Вы должны получить инструкции в ближайшее время.
                <br>
                Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес указанный при регистрации и проверьте папку со спамом.
                </p>
            {% include "elements/custom_button_block.html" with url="/"  button_text="Перейти на главную страницу" %}
        </div>
{% endblock content %}