{% extends 'base.html' %}
{% block content %}
{% load user_filter_tag %}
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% include 'elements/form_field.html' with class="form__input" id=field.id_for_label label=field.label errors=field.errors %}
            {% endfor %}
            {% include 'elements/form_footer.html' with footer_text='Изменить пароль' %}
        </form>
    </div>
{% endblock content %}