{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static "recipes/pages/index.css" %}">{% endblock css %}
    {% block main_title %}Сброс пароля{% endblock main_title %}

{% block content %}
        <div class="custom-center-block">
            <p class="custom-text-block">Сброс пароля завершен.
                <br>
                Ваш пароль изменён. Теперь вы можете войти в систему.
                <div class="custom-button-block">
                    <a href="{% url 'login' %}"><button class="button button_style_blue">Перейти к ваторизации</button></a>
                </div>
        </div>
{% endblock content %}