{% extends "base.html" %}
{% load static %}
{% url "login" as path %}
{% block css %}<link rel="stylesheet" href="{% static "recipes/pages/index.css" %}">{% endblock css %}
    {% block main_title %}Сброс пароля{% endblock main_title %}
{% block content %}
        <div class="custom-center-block">
            <p class="custom-text-block">Сброс пароля завершен.
                <br>
                Ваш пароль изменён. Теперь вы можете войти в систему.
            {% include "helper/auth_helper/custom_button_block.html" with url=path button_text="Перейти к авторизации" %}
        </div>
{% endblock content %}