{% extends "base.html" %}

{% block main_title %}Регистрация{% endblock main_title %}
{% block content %}
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% include "elements/form_field.html" with id=field.id_for_label label=field.label errors=field.errors %}
            {% endfor %}
            {% include "elements/form_footer.html" with footer_text="Создать аккаунт" %}
        </form>
    </div>
{% endblock content %}