<!doctype html>
{% csrf_token %}
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

{% with request.resolver_match.view_name as view_name %}
{% if view_name == "recipes:favorite" %}
    <title>Избранное</title>
    <link rel="stylesheet" href="{% static "recipes/pages/index.css" %}">

{% elif view_name == "recipes:subscriptions"  %}
    <title>Мои подписки</title>
    <link rel="stylesheet" href="{% static "recipes/pages/myFollow.css" %}">

{% elif view_name == "recipes:shoplist" %}
    <title>Список покупок</title>
    <link rel="stylesheet" href="{% static "recipes/pages/shopList.css" %}">

{% elif view_name == "recipes:profile" %}
    <title>Рецепты {% firstof user.get_full_name user.username %}</title>
    <link rel="stylesheet" href="{% static "recipes/pages/index.css" %}">

{% elif view_name == "recipes:recipe" %}
    <title>Рецепты {% firstof user.get_full_name user.username %}</title>
    <link rel="stylesheet" href="{% static "recipes/pages/single.css" %}">

{% elif view_name in "recipes:new_recipe, recipes:recipe_edit" %}
    <title>{{ recipe|yesno:"Редактирование,Создание" }} рецепта</title>
    <link rel="stylesheet" href="{% static "recipes/pages/form.css" %}">

{% elif view_name == "auth:signup" %}
    <title>Регистрация</title>
      <link rel="stylesheet" href="{% static "recipes/pages/form.css" %}">

{% elif view_name in "password_change, password_reset, password_reset_confirm, login" %}
    {% if view_name == "password_change" %}
        <title>Изменение пароля</title>
    {% elif view_name in "password_reset, password_reset_confirm"%}
        <title>Сброс пароля</title>
    {% elif view_name == "login"%}
        <title>Авторизация</title>
    {% endif %}
    <link rel="stylesheet" href="{% static "recipes/pages/form.css" %}">

{% else %}
    <link rel="stylesheet" href="{% static "recipes/pages/index.css" %}">
{% endif %}
{% endwith %}

</head>


<body class="body">
    <header class="header">
        {% block nav %}
            {% include "auxiliary/nav.html" %}
        {% endblock nav %}
    </header>
    <main class="main container">
        <div class="main__header">

            <h1 class="main__title">
                {% block main_title %}
                <!---------block main_title --------->
                {% endblock main_title%}
            </h1>

            {% block tag %}
            <!---------block tag --------->
            {% endblock tag %}
        </div>

    {% block content %}
    <!---------block content --------->
    {% endblock content  %}

    </main>

    {% block js %}
    <!---------block load java scripts --------->
    {% endblock js  %}

    {% block footer %}
        {% include "auxiliary/footer.html" %}
    {% endblock footer  %}

</body>
</html>
