{% load user_filter_tag %}
{% url "recipes:favorite" request.user as favorite %}

<nav class="nav">
  <div class="nav__container container">
      <ul class="nav__items list">
          <li class="nav__item {% if request.resolver_match.view_name == "recipes:index" %}nav__item_active"><a class="nav__link link">{% else %}"><a class="nav__link link" href="{% url "recipes:index" %}">{% endif %}Рецепты</a></li>
          {% if user.is_authenticated %}
          <li class="nav__item {% if request.resolver_match.view_name == "recipes:subscriptions" %}nav__item_active"><a class="nav__link link">{% else %}"><a class="nav__link link" href="{% url "recipes:subscriptions" %}">{% endif %}Мои подписки</a></li>
          <li class="nav__item {% if request.resolver_match.view_name == "recipes:new_recipe" %}nav__item_active"><a class="nav__link link">{% else %}"><a class="nav__link link" href="{% url "recipes:new_recipe" %}" class="nav__link link">{% endif %}Создать рецепт</a></li>
          <li class="nav__item {% if request.resolver_match.view_name == "recipes:favorite" %}nav__item_active"><a class="nav__link link">{% else %}"><a class="nav__link link" href="{% url "recipes:favorite" request.user %}" class="nav__link link">{% endif %}Избранное</a></li>
          {% endif %}
          <li class="nav__item {% if request.resolver_match.view_name == "recipes:shoplist" %}nav__item_active"><a class="nav__link link">{% else %}"><a class="nav__link link" href="{%  url "recipes:shoplist" %}" class="nav__link link">{% endif %}Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{{ user|shop_count:request}}</span></li>
      </ul>
      <ul class="nav__items list">
      {% if user.is_authenticated %}
          <li class="nav__item {% if request.resolver_match.view_name == "password_change" %}nav__item_active"><a class="nav__link link">{% else %}"><a class="nav__link link" href="{%  url "password_change" %}">{% endif %}Изменить пароль</a></li>
          <li class="nav__item {% if request.resolver_match.view_name == "logout" %}nav__item_active"><a class="nav__link link">{% else %}"><a class="nav__link link" href="{% url "logout" %}">{% endif %}Выход</a></li>
      {% else %}
          <li class="nav__item {% if request.path == "login" %}nav__item_active"><a class="nav__link link">{% else %}"><a class="nav__link link" href="{% url "login" %}">{% endif %}Войти</a></li>
          <li class="nav__item {% if request.path == "auth:signup" %}nav__item_active"><a class="nav__link link">{% else %}"><a class="nav__link link" href="{%  url "auth:signup" %}">{% endif %}Создать аккаунт</a></li>
      {% endif %}
      </ul>
  </div>
</nav>