<div class="card-user" data-author="{{ follow.author.id }}">
    <div class="card-user__header">
        <a class="href_no_decor" href="{% url "recipes:profile" follow.author.username %}">
        {% firstof follow.author.first_name follow.author.first_name.username %}
            <h2 class="card-user__title">{% firstof follow.author.first_name follow.author.first_name.username %}</h2>
        </a>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in follow.author.recipes.all|slice:":3" %}
                {% include "helper/subscribe/subscribe-recipe-card.html" with recipe=recipe size_picture="90x90"  class="recipe__image" %}
            {% endfor %}
            {% include "helper/subscribe/remaining_recipes.html" with recipe_count=follow.num_recipes %}
        </ul>
    </div>
    <div class="card-user__footer">
        {% include "helper/page_elements/subscribe-button.html" with size="button_size_auto" sub=True %}
    </div>
</div>